.home-header {
  padding: 20px;
  border-bottom: 1px solid rgba(119, 119, 119, 0.274);
  margin-bottom: 25px;
}

.add-btn-column{
    text-align: right;
}

.pending-todo-container, .completed-todo-container{
    padding: 10px 20px;
    margin-bottom: 25px;
}

.completed-todo-container .todo-container{
    opacity: 0.5;
    text-decoration: line-through;
}